* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: karla, sans-serif;
}


.container {
    width: 100%;
    height: 100vh;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    font-size: 70px;

}

.logo span {
    color: #1886a5;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 18px;
}

a {
    color: #000000d4;
    font-size: 21px;
}

nav ul li a {
    text-decoration: none;
    transition: 0.5s;

}

nav ul li a:hover {
    color: #1886a5;
}

.register {
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 9px 25px;
    border-radius: 6px;
    font-size: 18px;
}

.register:hover {
    background: transparent;
    border: 1px solid #000;
    color: #1886a5;

}

/* .hamburger */
.hamburger img {
    height: 30px;
    width: 30px;
}

.hamburger {
    position: absolute;
    top: 12px;
    left: 13px;
    cursor: pointer;
    z-index: 9999;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #1886a5;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
    border-radius: 1px;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar a {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.sidebar a:hover {
    background: #0f5f75;
    margin-left: 5px;
    padding: 10px;
    border-radius: 11px;
}

.gap {
    padding-top: 40px;
}

.gap a {
    padding: 10px;
    margin-left: 10px;

}

.sidebar img {
    height: 26px;
    width: 26px;
    object-fit: contain;
}

.ChatBot img {
    height: 45px;
    width: 45px;
}

.ChatBot {
    position: absolute;
    top: 13px;
    right: 28px;
    cursor: pointer;
    z-index: 9999;
}